<style>
   .icon {
        text-align: center;
      }
</style>

<div class="panel panel-default">
  <div class="panel-heading">
    メッセージ一覧
  </div>
  
  
  <div class="panel-body">
    <% @messages.each do |message| %>
      <span class="label label-info"><%= message.name %></span>
      <%= message.body %>
      <br>
      <% end %>
  </div>
</div>

<%# <% @messages.each do |message| %>
<%#   名前:<%= message.name %>
<%#   内容:<%= message.body %>
<%#   <br>
<%#   
<%# <% end %>

<div class="container">
  <%= form_for(@message) do |f| %>
    <% if @message.errors.present? %>
      <div class="alert alert-danger">
        <%= alert %>
        <ul>
          <% @message.errors.full_messages.each do |full_message| %>
            <li>
              <%= full_message %>
            </li>
            <% end%>
        </ul>
      </div>
    <% end %>
    <%# <div class="icon col-sm-3 hidden-xs">
    <%#   <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
    <%#   <div class="icon-caption">書き込み</div>
    <%# </div>
    <%# <div class="icon col-sm-9 hidden-xs"> %>
    名前:
    <%= f.text_field :name %>
    <br>
      
    内容:
    <%= f.text_field :body %>
    <br>
    <%= f.submit %>
    <%# </div>
  <% end %>
<%# </div>  